.page {
  display: flex !important;
  padding-top: 20px;
  overflow-y: hidden;
}

.textCont {
  display: flex;
  width: 50%;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.img {
  flex: 0.5;
  width: 50%;
  height: 70%;
}
