.page {
  background-color: #fff;
  display: flex !important;
  padding: 10px;
  min-height: calc(100vh - 64px);
}

.productsContainer {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 17px;
}
.cartProduct {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin-right: 5px;
  margin-bottom: 20px;
}

.image {
  height: 210px;
  object-fit: contain;
  margin-bottom: 10px;
}

.optionsContainer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
  width: 400px;
}

@media only screen and (max-width: 650px) {
  .page {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .productsContainer {
    align-items: center;
    width: 100%;
    padding: 22px;
  }
  .image {
    height: 100px;
  }
  .optionsContainer {
    width: 95vw;
  }
}
