/* Main page */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
}

.body {
  flex-direction: row;
  padding-right: 56px !important;
  padding-left: 56px !important;
}

/* Product */
.product {
  width: 450px;
  background: #fff;
  border-radius: 12px;
  padding: 30px 45px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.proCat {
  margin-bottom: 20px;
  font-weight: 500;
}

.productImg {
  height: 250px;
  object-fit: contain;
}

.productInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: 500;
}

@media only screen and (max-width: 650px) {
  .product {
    width: 90vw;
  }
  .body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    align-items: center;
  }
}
