.page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f3f5;
  overflow-y: hidden;
}

.imageCont {
  height: 100%;
  width: 50%;
  background: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCont > img {
  height: 80%;
  max-width: 500px;
}
.topCont {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InfoCont {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InfoContInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  justify-content: center;
}

.btnCont {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.productInfo {
  width: 90%;
}

@media only screen and (max-width: 650px) {
  .page {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .imageCont,
  .InfoCont,
  .topCont {
    width: 100%;
  }
  .InfoContInner > h1 {
    margin: 0;
  }
  .btnCont {
    width: 100%;
  }
  .productInfo {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .btnCont {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 86px;
  }
  .InfoContInner {
    padding: 25px;
  }
}
